body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: white;
}
strong {
    background-color: grey;
}
h3 {
    background-color: grey;
}
p {
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    padding: 30px;
    text-decoration: double;
}
strong {
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
p2 {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}